# Warewulf Copyright (c) 2001-2003 Gregory M. Kurtzer
# 
# Warewulf Copyright (c) 2003-2013, The Regents of the University of
# California, through Lawrence Berkeley National Laboratory (subject to
# receipt of any required approvals from the U.S. Dept. of Energy).
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# (1) Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
# 
# (2) Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution.
# 
# (3) Neither the name of the University of California, Lawrence Berkeley
# National Laboratory, U.S. Dept. of Energy nor the names of its contributors
# may be used to endorse or promote products derived from this software
# without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# You are under no obligation whatsoever to provide any bug fixes, patches,
# or upgrades to the features, functionality or performance of the source
# code ("Enhancements") to anyone; however, if you choose to make your
# Enhancements available either publicly, or directly to Lawrence Berkeley
# National Laboratory, without imposing a separate written license agreement
# for such Enhancements, then you hereby grant the following license: a
# non-exclusive, royalty-free perpetual license to install, use, modify,
# prepare derivative works, incorporate into other computer software,
# distribute, and sublicense such enhancements or derivative works thereof,
# in binary and source code form.
#
## Copyright (c) 2012, Intel(R) Corporation
##
## Redistribution and use in source and binary forms, with or without 
## modification, are permitted provided that the following conditions are met:
##
##    * Redistributions of source code must retain the above copyright notice, 
##      this list of conditions and the following disclaimer.
##    * Redistributions in binary form must reproduce the above copyright 
##      notice, this list of conditions and the following disclaimer in the 
##      documentation and/or other materials provided with the distribution.
##    * Neither the name of Intel(R) Corporation nor the names of its contributors 
##      may be used to endorse or promote products derived from this software 
##      without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE 
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
## POSSIBILITY OF SUCH DAMAGE.
##
#
#DESC: Intel Cluster Ready 1.2 Overlay for Red Hat

# The general RHEL include has all of the necessary functions, but requires
# some basic variables specific to each chroot type to be defined.
. include-rhel


export FUNCTIONS="sanity_check
                  overlay
                  finalize"


# Many of these will probably be installed, but best to be sure!
ICRPKG="bzip2-libs.i686 bzip2-libs.x86_64 compat-libcap1.i686 compat-libcap1.x86_64 \
    compat-libstdc++-33.i686 compat-libstdc++-33.x86_64 fontconfig.x86_64 freetype.x86_64 \
    glibc.i686 glibc.x86_64 glx-utils.x86_64 libICE.x86_64 libSM.x86_64 libX11.x86_64 \
    libXScrnSaver.x86_64 libXau.x86_64 libXcomposite.x86_64 libXcursor.x86_64 \
    libXdamage.x86_64 libXdmcp.x86_64 libXext.x86_64 libXfixes.x86_64 libXfont.x86_64 \
    libXft.x86_64 libXi.x86_64 libXinerama.x86_64 libXmu.x86_64 libXp.x86_64 \
    libXrandr.x86_64 libXrender.x86_64 libXres.x86_64 libXt.x86_64 libXtst.x86_64 \
    libXv.x86_64 libXvMC.x86_64 libXxf86dga.x86_64 libXxf86misc.x86_64 libXxf86vm.x86_64 \
    libacl.i686 libacl.x86_64 libattr.i686 libattr.x86_64 libdrm.x86_64 \
    libgcc.i686 libgcc.x86_64 libjpeg.i686 libjpeg.x86_64 libselinux.i686 libselinux.x86_64 \
    libsepol.i686 libsepol.x86_64 libstdc++.i686 libstdc++.x86_64 mesa-libGL.x86_64 \
    ncurses-libs.i686 ncurses-libs.x86_64 pam.i686 pam.x86_64 xorg-x11-apps.x86_64 \
    xorg-x11-drv-intel.x86_64 xorg-x11-utils.x86_64 xterm.x86_64 zlib.i686 zlib.x86_64 \
    java-1.6.0-openjdk redhat-lsb tcsh ksh lsof ntpdate ntp"


sanity_check() {
    if ! rpm -q yum >/dev/null 2>&1; then
        echo "ERROR: Could not query RPM for YUM"
        return 1
    fi
    if [ ! -d "$CHROOTDIR" -o ! -x "$CHROOTDIR/sbin/init" ]; then
        echo "ERROR: This is an overlay that must work on an existing Red Hat chroot!"
        return 1
    fi
    if [ ! -f "$CHROOTDIR/etc/redhat-release" ]; then
        echo "ERROR: This must be a Red Hat compatible chroot!"
        return 1
    fi
    return 0
}

overlay() {
    $YUM_CMD install $ICRPKG

    if [ $? -ne 0 ]; then
        echo "ERROR: Failed to install ICR packages"
        return 1
    fi

    # Setup basic ICR structure
    mkdir -m 0755 -p $CHROOTDIR/opt/intel
    mkdir -m 0755 -p $CHROOTDIR/etc/intel
    echo "CLUSTER_READY_VERSION=1.2" > $CHROOTDIR/etc/intel/icr

    return 0
}

# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
