#DESC: Intel Cluster Ready 1.2 Overlay for Red Hat

#
# rhel-icr1.2.tmpl
#
# Required System Packages to make a system ICR 1.2 Compliant
#

export FUNCTIONS="sanity_check
                  overlay
                  finalize"


# Many of these will probably be installed, but best to be sure!
ICRPKG="bzip2-libs.i686 bzip2-libs.x86_64 compat-libcap1.i686 compat-libcap1.x86_64 \
    compat-libstdc++-33.i686 compat-libstdc++-33.x86_64 fontconfig.x86_64 freetype.x86_64 \
    glibc.i686 glibc.x86_64 glx-utils.x86_64 libICE.x86_64 libSM.x86_64 libX11.x86_64 \
    libXScrnSaver.x86_64 libXau.x86_64 libXcomposite.x86_64 libXcursor.x86_64 \
    libXdamage.x86_64 libXdmcp.x86_64 libXext.x86_64 libXfixes.x86_64 libXfont.x86_64 \
    libXft.x86_64 libXi.x86_64 libXinerama.x86_64 libXmu.x86_64 libXp.x86_64 \
    libXrandr.x86_64 libXrender.x86_64 libXres.x86_64 libXt.x86_64 libXtst.x86_64 \
    libXv.x86_64 libXvMC.x86_64 libXxf86dga.x86_64 libXxf86misc.x86_64 libXxf86vm.x86_64 \
    libacl.i686 libacl.x86_64 libattr.i686 libattr.x86_64 libdrm.x86_64 \
    libgcc.i686 libgcc.x86_64 libjpeg.i686 libjpeg.x86_64 libselinux.i686 libselinux.x86_64 \
    libsepol.i686 libsepol.x86_64 libstdc++.i686 libstdc++.x86_64 mesa-libGL.x86_64 \
    ncurses-libs.i686 ncurses-libs.x86_64 pam.i686 pam.x86_64 xorg-x11-apps.x86_64 \
    xorg-x11-drv-intel.x86_64 xorg-x11-utils.x86_64 xterm.x86_64 zlib.i686 zlib.x86_64 \
    java-1.6.0-openjdk redhat-lsb tcsh ksh lsof ntpdate ntp"


sanity_check() {
    if ! rpm -q yum >/dev/null 2>&1; then
        echo "ERROR: Could not query RPM for YUM"
        return 1
    fi
    if [ ! -d "$CHROOTDIR" -o ! -x "$CHROOTDIR/sbin/init" ]; then
        echo "ERROR: This is an overlay that must work on an existing Red Hat chroot!"
        return 1
    fi
    if [ ! -f "$CHROOTDIR/etc/redhat-release" ]; then
        echo "ERROR: This must be a Red Hat compatible chroot!"
        return 1
    fi
    return 0
}

overlay() {
    yum --tolerant --installroot $CHROOTDIR -y install $ICRPKG

    if [ $? -ne 0 ]; then
        echo "ERROR: Failed to install ICR packages"
        return 1
    fi

    # Setup basic ICR structure
    mkdir -m 0755 -p $CHROOTDIR/opt/intel
    mkdir -m 0755 -p $CHROOTDIR/etc/intel
    echo "CLUSTER_READY_VERSION=1.2" > $CHROOTDIR/etc/intel/icr

    return 0
}

# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
